body{
    background:whitesmoke;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 80px;
}

.time-counter{
    background-color: white;
    height: 200px;
    padding: 30px;
    border-radius: 4px;
    width: 25%;
}
.time-counter .title{
    margin-bottom: 25px ;
    display: flex;
    justify-content: space-between;
}
.counter{
    display: flex;
}

.button-plus{
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: rgb(0, 185, 0);
    color: #fff;
    font-size: 14px;
    width: 25px;
    cursor: pointer;
    margin-right: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-minus{
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3px;
    border: none;
    outline: none;
    background-color: rgb(252, 18, 18);
    color: #fff;
    font-size: 14px;
    width: 25px;
    cursor: pointer;
}

.main-section{
    background: transparent;
    max-width: 600px;
    width: 75%;
    height: 500px;
}

.main-section .card-header{
    background-color: darkgrey;
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 22px;
    text-align: center;
    align-items: center;
    padding: 5px;
    border-radius: 4px 4px 0 0;
}

.clock-holder{
    width: 100%;
    background: #fff;
    margin-left: 30px;
    position: relative;
    border-radius: 4px;
}

.stopwatch{
    padding: 60px 0px;
    text-align: center;
}
.stopwatch span{
    background: #00ABA9;
    color: #fff;
    display: inline-block;
    font-family: monospace;
    font-size: 20px;
    padding: 15px;
    border-radius: 5px;
    width: 60px;
}

.stopwatch .stopwatch-btn{
    background: #fff;
    margin-top: 30px;
    margin-left: 5px;
    border: none;
    padding: 12px 20px;
    font-size: 12px;
    text-transform: uppercase;
    width: 100px;
    transition: background 1s;
    cursor: pointer;
    border-radius: 4px;
}

.stopwatch .stopwatch-btn-red{
    border: 2px solid #C85454;
    color: #C85454;
}
.stopwatch .stopwatch-btn-blue{
    border: 2px solid green;
    color: green;
}
.stopwatch .stopwatch-btn-yel{
    border: 2px solid #FFC900;
    color: #FFC900;
}
.stopwatch .stopwatch-btn-gre{
    border: 2px solid #00ABA9;
    color: #00ABA9;
}

.stopwatch .stopwatch-btn-blue:hover{
    background:green;
    border: 2px solid green;
    color: #fff;
}
.stopwatch .stopwatch-btn-red:hover{
    background: #C85454;
    border: 2px solid #C85454;
    color: #fff;
}

.stopwatch-btn-yel:hover{
    background: #FFC900;
    border: 2px solid #FFC900;
    color: #fff;
}

.stopwatch-btn-gre:hover{
    background: #00ABA9;
    border: 2px solid #00ABA9;
    color: #fff;
}


.interval {
    text-align: center;    
}

.interval div {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interval span {
    display: flex;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: rgb(250, 100, 45);
    margin: 0 3px;
    color: #fff;
}

@media (max-width: 767px) {
    .main-section {
        width: 100%;
        margin-top: 30px;
    }

    .time-counter {
        width: 50%;
    }
}